extends layout

block content
	center
		div(class="header")
			<img src="images/menu.png" height="20px;" /> 
			<img src = "images/logo.png" height="30px;" style="padding-left: 130px; padding-right: 110px; padding-top: 10px;" />
			<img src="images/search.png" height="20px;" style="padding-right: 10px;" /> 
			<img src="images/cart.png" height="20px;" /> 
			<br><br>
		section
			div(id="title")
				p(class="p-lovelist") LOVELIST
				hr(class="hr-lovelist-title")
			div(id="content")
				for i in data
					div(style="float: left; margin-right: 15px;")
						<img src="/#{i.photo}" height="80px;" style="margin-bottom: 15px;" /> 
					div(class="product-name")= i.name
					div(class="price")= i.price
					div(style="color: #dddddd; font-size: 10px; margin-top: 15px;")
						<img src="images/comment.png" height="15px;" style="vertical-align: middle;"> 
						span(style="margin-right: 10px;")= i.comment	
						<img src="images/love.png" height="15px;" style="vertical-align: middle;"> 
						span= i.loved
					div(style="clear: both;")
						hr(class="hr-lovelist-content")
			div(id="footer")
				button(class="button-lovelist") Load More